<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>{{pageTitle}}</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                Поиск: 
                <input type="text" [(ngModel)]="listFilter">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Фильтруем по: {{listFilter}}</h3>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table" *ngIf="hotels && hotels.length">
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-primary" (click)="toggleImage()">
                            {{showImage ? "Скрыть" : "Показать"}} интерьер
                        </button>
                    </th>
                    <th>Название</th>
                    <th>Адрес</th>
                    <th>Свободные номера</th>
                    <th>Цена за ночь</th>
                    <th>Звезд</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hotel of hotels | hotelFilter: listFilter">
                    <td>
                        <img *ngIf="showImage"
                        [src]="hotel.imageUrl" [title]="hotel.name"
                        [style.width.px]="imageWidth" [style.margin.px]="imageMargin">
                
                    </td>
                    <td>{{hotel.name}}</td>
                    <td>{{hotel.address}}</td>
                    <td>{{hotel.vacantSuite}}</td>
                    <td>{{hotel.price | currency:"USD":true:"1.2-2"}}</td>
                    <td><star-shared [rating]="hotel.starRating"
                        (ratingClicked)="onRatingClicked($event)"></star-shared></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>