<div class="panel panel-primary">
    <div class="panel-heading">
        Список Отелей
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                Поиск: 
            </div>
            <div class="col-md-4">
                <input type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Найдено по:</h3>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-primary">
                            Показать изображения
                        </button>
                    </th>
                    <th>Название</th>
                    <th>Адрес</th>
                    <th>Свободные номера</th>
                    <th>Цена за ночь</th>
                    <th>Звезд</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO Список Отелей-->
            </tbody>
        </table>
    </div>
</div>